html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.7rem;
  font-family: Calibri, "Franklin Gothic Book", "Arial Narrow", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100% !important;
}

header {
  grid-area: header;
  background-color: black;
  padding: 1rem 1.8rem;
}

main {
  grid-area: main;
  /* padding: 1rem; */
}

.home {
  background-image: url("https://cdn.betwaygroup.com/medusa-production-cache/b/6/b604ec0b6b3e584899a17fb3255e5177a8e649e0.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bet {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

footer {
  grid-area: footer;
  background-color: black;
  color: #ffffff;
  opacity: 0.8;
}

/* nav */
nav {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.8);
}

.nav-item {
  color: grey;
  padding: 1.8rem 2.3rem;
  font-size: 1.58rem;
  font-weight: bold;
}

.nav-item.active {
  color: white;
  border-bottom: 0.4rem solid #00a826;
}

.nav-item:hover {
  color: white;
}

/* Common */
h1 {
  font-size: 3rem;
  padding: 1rem 0;
  margin: 0;
}

p {
  padding: 0;
}

a {
  text-decoration: none !important;
}

/* a:hover {
  color: #00a826;
} */

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
button {
  border-radius: 0.22rem;
  border: 0.15rem #00a826 solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: none;
  border-bottom: 2px #00a826 solid;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 1rem;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

button {
  background-color: #00a826;
  padding: 0.6rem 2.1rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  cursor: pointer;
  font-family: Calibri, "Franklin Gothic Book", "Arial Narrow", Arial,
    sans-serif !important;
}

.button {
  padding: 0.2rem;
}

input:hover,
select:hover,
textArea:hover,
button:hover {
  transform: scale(1.01, 1.01);
  color: #00a826;
  background-color: white !important;
}

button.signin {
  background-color: #00a826;
}

button.primary {
  padding: 1rem;
  margin: 1rem 0;
}

button.signup {
  color: #00a826;
  background-color: white;
}

button.block {
  max-width: 40rem;
  width: 34rem;
  font-size: 2.2rem;
  padding: 1rem;
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  text-align: center;
  display: inline-table;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* vertically align-items: center; */
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
  max-width: 100%;
  max-height: 100%;
}

img.small {
  max-width: 10rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 50rem;
  width: 100%;
}

/* Card */
.card {
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.card-body {
  padding: 0.7rem;
}

.card-body > * {
  margin-bottom: 0.2rem;
}

/* Alert */
.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

/* Form */
.form {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  display: none;
}

/* MEDIA QUERIES START */

@media only screen and (max-width: 468px) {
  /* For mobile: */

  body {
    font-size: 1.4rem;
  }
  .nav-item {
    padding: 1.8rem 0;
  }

  button.signin,
  button.signup {
    padding: 0.5rem;
  }

  button.primary {
    padding: 1rem;
    margin: 1rem 0;
  }

  button.block {
    max-width: 30rem;
    width: 24rem;
    font-size: 2rem;
    padding: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }
}

/* MEDIA QUERIES END */
